.closed-sidenav {
  width: 0px;
  background-color: #18181b;
  height: 100vh;
  animation: sidenav-slide-left 300ms ease;
}

@media (min-width: 640px) {
  .closed-sidenav {
    width: 80px;
    background-color: #18181b;
    height: 100vh;
    animation: sidenav-slide-left 300ms ease;
  }
}

@keyframes sidenav-slide-left {
  0% {
    width: 300px;
  }
  100% {
    width: 80px;
  }
}

.closed-sidenav-initial {
  width: 80px;
  height: 100vh;
  background-color: #18181b;
}

.closed-sidenav-initial-mobile {
  width: 80px;
  height: 100vh;
  background-color: transparent;
}

.opened-sidenav {
  height: 100vh;
  background-color: #18181b;
  animation: sidenav-slide-right 300ms ease;
  width: 300px;
}

@keyframes sidenav-slide-right {
  0% {
    width: 80px;
  }
  100% {
    width: 300px;
  }
}
