@media (min-width: 1024px) {
  .focused-full-width {
    animation: smooth-resize 500ms ease;
  }

  @keyframes smooth-resize {
    0% {
      width: 24rem;
    }
    100% {
      width: 100%;
    }
  }

  .unfocused {
    animation: smooth-resize-back 500ms ease;
  }

  @keyframes smooth-resize-back {
    0% {
      width: 100%;
    }
    100% {
      width: 24rem;
    }
  }
}
